@import '../../styles/variables.scss';

.contact-form {
  padding: 50px;
  width: 300px;
  margin: auto;

  div {
    width: 100%;
  }
}

.error {
  color: $color-danger;
  padding: 10px 0;
  font-weight: bold;
  height: 24px;
}
