.input,
.textarea {
  min-width: 200px;
  padding: 10px 20px;
  border-radius: $border-radius;
  outline: none;
  font-size: $font-size-md;
  border: 2px solid $bg-secondary;
  resize: none; // for textarea
}

input[type='checkbox'] {
  transform: scale(1.4);
  accent-color: $bg-primary;
}

.button {
  background: $bg-primary;
  color: $color-font-primary;
  font-size: $font-size-md;
  font-weight: bold;
  border-radius: $border-radius;
  padding: 10px 20px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  width: 100%;

  &:hover {
    transform: scale(1.04);
  }
}
