$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$color-font-primary: var(--color-font-primary);
$color-danger: var(--color-danger);

$border-radius: var(--border-radius);
$font-size-md: var(--font-size-md);
